@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;600;700;800&display=swap');
:root {
  --font1: 'Lato', sans-serif;
  --font2: 'Playfair Display', serif;
}

*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body{
    background-color: #f9f3e7;
    font-family: var(--font1);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/*** navigation section****/
header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header svg{
    cursor: pointer;
}
nav{
    display: none;
}
.nav_form_links{
    display: none;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 5rem;
}
.logo a{
    font-size: 13px;
    background: linear-gradient(
        90deg,
        rgba(234,171,85,1) 0% ,
        rgba(234,96,111,1) 100%
    );
    border-radius: 2rem;
    padding: 5px 10px;
    color:#fff;
    margin-left:5px;
}

/******* Hero section ********/
.hero-section{
    padding: 20px;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    overflow: hidden;
    
}